<app-navigation-bar></app-navigation-bar>

<div class="ui grid">
    <div class="eight wide column" id="left"> Name: </div>
    <div class="eight wide column" id="right"> {{ starship.name }} </div>
    <div class="eight wide column" id="left"> Model: </div>
    <div class="eight wide column" id="right"> {{ starship.model }} </div>
    <div class="eight wide column" id="left"> Manufacturer: </div>
    <div class="eight wide column" id="right"> {{ starship.manufacturer }} </div>
    <div class="eight wide column" id="left"> Cost in credits: </div>
    <div class="eight wide column" id="right"> {{ starship.cost_in_credits }} </div>
    <div class="eight wide column" id="left"> Length: </div>
    <div class="eight wide column" id="right"> {{ starship.length }} </div>
    <div class="eight wide column" id="left"> Maximum atmosphering speed: </div>
    <div class="eight wide column" id="right"> {{ starship.max_atmosphering_speed }} </div>
    <div class="eight wide column" id="left"> Crew: </div>
    <div class="eight wide column" id="right"> {{ starship.crew }} </div>
    <div class="eight wide column" id="left"> Passengers: </div>
    <div class="eight wide column" id="right"> {{ starship.passengers }} </div>
    <div class="eight wide column" id="left"> Cargo capacity: </div>
    <div class="eight wide column" id="right"> {{ starship.cargo_capacity }} </div>
    <div class="eight wide column" id="left"> Consumables: </div>
    <div class="eight wide column" id="right"> {{ starship.consumables }} </div>
    <div class="eight wide column" id="left"> Hyperdrive rating: </div>
    <div class="eight wide column" id="right"> {{ starship.hyperdrive_rating }} </div>
    <div class="eight wide column" id="left"> MGLT: </div>
    <div class="eight wide column" id="right"> {{ starship.MGLT }} </div>
    <div class="eight wide column" id="left"> Starship class: </div>
    <div class="eight wide column" id="right"> {{ starship.starship_class }} </div>
    <div class="eight wide column" id="left"> Pilots: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let pilot of starship.pilots">
            <li value="">
                <a routerLink="/people/info/{{getRouterLink(pilot)}}">
                {{getResourceFromURL(pilot)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Films: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let film of starship.films">
            <li value="">
                <a routerLink="/films/info/{{getRouterLink(film)}}">
                {{getResourceFromURL(film)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ starship.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ starship.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ starship.url }} </div>
</div>