<app-navigation-bar></app-navigation-bar>

<div class="ui grid">
    <div class="eight wide column" id="left"> Name: </div>
    <div class="eight wide column" id="right"> {{ planet.name }} </div>
    <div class="eight wide column" id="left"> Rotation period: </div>
    <div class="eight wide column" id="right"> {{ planet.rotation_period }} </div>
    <div class="eight wide column" id="left"> Orbital Period: </div>
    <div class="eight wide column" id="right"> {{ planet.orbital_period }} </div>
    <div class="eight wide column" id="left"> Diameter: </div>
    <div class="eight wide column" id="right"> {{ planet.diameter }} </div>
    <div class="eight wide column" id="left"> Climate: </div>
    <div class="eight wide column" id="right"> {{ planet.climate }} </div>
    <div class="eight wide column" id="left"> Gravity: </div>
    <div class="eight wide column" id="right"> {{ planet.gravity }} </div>
    <div class="eight wide column" id="left"> Terrain: </div>
    <div class="eight wide column" id="right"> {{ planet.terrain }} </div>
    <div class="eight wide column" id="left"> Surface Water: </div>
    <div class="eight wide column" id="right"> {{ planet.surface_water }} </div>
    <div class="eight wide column" id="left"> Population: </div>
    <div class="eight wide column" id="right"> {{ planet.population }} </div>
    <div class="eight wide column" id="left"> Residents: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let resident of planet.residents">
            <li value="">
                <a routerLink="/people/info/{{getRouterLink(resident)}}">
                {{getResourceFromURL(resident)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Films: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let film of planet.films">
            <li value="">
                <a routerLink="/films/info/{{getRouterLink(film)}}">
                {{getResourceFromURL(film)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ planet.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ planet.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ planet.url }} </div>
</div>