<app-navigation-bar></app-navigation-bar>

<div class="ui grid">
    <div class="eight wide column" id="left"> Name: </div>
    <div class="eight wide column" id="right"> {{ person.name }} </div>
    <div class="eight wide column" id="left"> Height: </div>
    <div class="eight wide column" id="right"> {{ person.height }} </div>
    <div class="eight wide column" id="left"> Mass: </div>
    <div class="eight wide column" id="right"> {{ person.mass }} </div>
    <div class="eight wide column" id="left"> Hair color: </div>
    <div class="eight wide column" id="right"> {{ person.hair_color }} </div>
    <div class="eight wide column" id="left"> Skin color: </div>
    <div class="eight wide column" id="right"> {{ person.skin_color }} </div>
    <div class="eight wide column" id="left"> Eye color: </div>
    <div class="eight wide column" id="right"> {{ person.eye_color }} </div>
    <div class="eight wide column" id="left"> Birth year: </div>
    <div class="eight wide column" id="right"> {{ person.birth_year }} </div>
    <div class="eight wide column" id="left"> Gender: </div>
    <div class="eight wide column" id="right"> {{ person.gender }} </div>
    <div class="eight wide column" id="left"> Homeworld: </div>
    <div class="eight wide column" id="right"> 
        <a routerLink="/planets/info/{{getRouterLink(person.homeworld)}}">
        {{getResourceFromURL(person.homeworld)}}
        </a> </div>
    <div class="eight wide column" id="left"> Films: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let film of person.films">
            <li value="">
                <a routerLink="/films/info/{{getRouterLink(film)}}">
                {{getResourceFromURL(film)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Species: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let species of person.species">
            <li value="">
                <a routerLink="/species/info/{{getRouterLink(species)}}">
                {{getResourceFromURL(species)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Vehicles: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let vehicle of person.vehicles">
            <li value="">
                <a routerLink="/vehicles/info/{{getRouterLink(vehicle)}}">
                {{getResourceFromURL(vehicle)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Starships: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let starship of person.starships">
            <li value="">
                <a routerLink="/starships/info/{{getRouterLink(starship)}}">
                {{getResourceFromURL(starship)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ person.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ person.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ person.url }} </div>
</div>