<app-navigation-bar></app-navigation-bar>

<div *ngIf="pagination | async as pag; else loading">
    <div class="ui container">
        <div class="ui divided items" >
            <app-species-item class="ui item" *ngFor="let species of pag.results" [species]="species"></app-species-item>
        </div>

        <app-species-pagination [pagination]="pag"></app-species-pagination>
    </div>
</div>

<ng-template #loading> Loading species... </ng-template>
