<app-navigation-bar></app-navigation-bar>

<div *ngIf="pagination | async as pag; else loading">
    <div class="ui container">
        <div class="ui divided items" >
            <app-vehicle-item class="ui item" *ngFor="let vehicle of pag.results" [vehicle]="vehicle"></app-vehicle-item>
        </div>

        <app-vehicles-pagination [pagination]="pag"></app-vehicles-pagination>
    </div>
</div>

<ng-template #loading> Loading vehicles... </ng-template>