<div class="ui grid">
    <div class="eight wide column" id="name">{{ person.name }}</div>
    <div id="details">
        <a routerLink="/people/info/{{getPersonId(person)}}" (click)="getPersonInfo(person)"> See details </a>
    </div>
</div>