<div class="ui center aligned basic segment">
    <div class="ui pagination menu" *ngIf="pagination">
        <a 
            class="item"
            *ngIf="pagination.previous"
            routerLink="/species"
            [queryParams]="{ page: getPreviousPage() }"
        >
        &larr;
        </a>
        <a
            class="item"
            *ngFor="let pageNumber of getArrayOfPageNumbers(pagination.count)"
            routerLinkActive="(pageNumber === getCurrentPage()) ? active : inactive"
            routerLink="/species"
            [queryParams]="{ page: pageNumber }"
        >
            {{ pageNumber }}
        </a>
        <a 
            class="item"
            *ngIf="pagination.next"
            routerLink="/species"
            [queryParams]="{ page: getNextPage() }"
        >
        &rarr;
        </a>
    </div>
</div>