<app-navigation-bar></app-navigation-bar>

<div *ngIf="pagination | async as pag; else loading">
    <div class="ui container">
        <div class="ui divided items" >
            <app-person-item class="ui item" *ngFor="let person of pag.results" [person]="person"></app-person-item>
        </div>

        <app-people-pagination [pagination]="pag"></app-people-pagination>
    </div>
</div>

<ng-template #loading> Loading people... </ng-template>