<div class="ui grid">
    <div class="eight wide column" id="name">{{ species.name }}</div>
    <div id="details">
        <a routerLink="/species/info/{{getSpeciesId(species)}}" (click)="getSpeciesInfo(species)"> See details </a>
    </div>
</div>