<div class="container loading" *ngIf="!allLoaded">
    <div>Loading people... <i class="check icon" *ngIf="peopleLoaded"></i></div> 
    <div>Loading films... <i class="check icon" *ngIf="filmsLoaded"></i></div>
    <div>Loading species... <i class="check icon" *ngIf="speciesLoaded"></i></div>
    <div>Loading vehicles... <i class="check icon" *ngIf="vehiclesLoaded"></i></div>
    <div>Loading starships... <i class="check icon" *ngIf="starshipsLoaded"></i></div>
    <div>Loading planets... <i class="check icon" *ngIf="planetsLoaded"></i></div>
</div>

<div class="search-bar" *ngIf="allLoaded">
    <div class="container" id="search-component" data-tab="search">
        
        <form class="ui form" [formGroup]="searchForm" (ngSubmit)="searchOnPress()">
            <div class="ui icon input" id="search-div" clickOutside (clickOutside)="clickedOutside()" (ngSubmit)="searchOnPress()">
                <input #searchBox id="search-box" (input)="searchList(searchBox.value)" (click)="toggleSearchSuggestions()"
                        formControlName="search" placeholder="Search for anything (people, planets, vehicles, starships...)" >
                <i class="big search link icon" (click)="searchOnPress()"></i>
            </div>
        </form>

        <dl class="search-result">
            <dt *ngFor="let item of searchResults | async">
                <a routerLink="/{{getPath(item.type)}}/info/{{item.id}}" (click)="clearSearch()">
                    <div id="search-item">
                        <span id="span-name">{{item.name}}</span> <br>
                        <span id="span-type">{{item.type}}</span>
                    </div>
                </a>
            </dt>
        </dl>
    </div>
</div>