.search-bar {
    text-align: center;
    background-color: black;
}

.loading {
    font-style: italic;
    text-align: center;
}

#search-div {
    width: 800px;
}

#search-box {
    font-size: x-large;
}

::placeholder {
    opacity: 100%;
}

input:placeholder-shown {
    font-style: italic;
}

dt {
    width: 100%;
    margin: auto;
}

.search-result {
    max-height: 800px;
    overflow: scroll;
}

#search-item {
    text-align: left;
    border: 1px solid gray;
    overflow: auto;
}

#span-name {
    padding-left: 10px;
    font-size: medium;
}

#span-type {
    padding-left: 10px;
    font-size: small;
    font-style: italic;
    opacity: 80%;
}
