<div class="ui segment" id="navbar">
  <div class="ui secondary menu">
      <a class="item" routerLink="/home" routerLinkActive="active">
        <i class="big home link icon"></i>
        Home
      </a>
      <a class="item" routerLink="/people" [queryParams]="{ page: 1 }" routerLinkActive="active"> People </a>
      <a class="item" routerLink="/starships" [queryParams]="{ page: 1 }" routerLinkActive="active"> Starships </a>
      <a class="item" routerLink="/vehicles" [queryParams]="{ page: 1 }" routerLinkActive="active"> Vehicles </a>
      <a class="item" routerLink="/planets" [queryParams]="{ page: 1 }" routerLinkActive="active"> Planets </a>
      <a class="item" routerLink="/species" [queryParams]="{ page: 1 }" routerLinkActive="active"> Species </a>
      <a class="item" routerLink="/films" routerLinkActive="active"> Films </a>
      <div class="right menu">
          <button class="ui blue fluid button" routerLink="/logout" routerLinkActive="active">Logout</button>
    </div>
  </div>
</div>
  