<app-navigation-bar></app-navigation-bar>

<div class="ui grid">
    <div class="eight wide column" id="left"> Name: </div>
    <div class="eight wide column" id="right"> {{ species.name }} </div>
    <div class="eight wide column" id="left"> Classification: </div>
    <div class="eight wide column" id="right"> {{ species.classification }} </div>
    <div class="eight wide column" id="left"> Designation: </div>
    <div class="eight wide column" id="right"> {{ species.designation }} </div>
    <div class="eight wide column" id="left"> Average height: </div>
    <div class="eight wide column" id="right"> {{ species.average_height }} </div>
    <div class="eight wide column" id="left"> Skin colors: </div>
    <div class="eight wide column" id="right"> {{ species.skin_colors }} </div>
    <div class="eight wide column" id="left"> Hair colors: </div>
    <div class="eight wide column" id="right"> {{ species.hair_colors }} </div>
    <div class="eight wide column" id="left"> Eye colors: </div>
    <div class="eight wide column" id="right"> {{ species.eye_colors }} </div>
    <div class="eight wide column" id="left"> Average lifespan: </div>
    <div class="eight wide column" id="right"> {{ species.average_lifespan }} </div>
    <div class="eight wide column" id="left"> Homeworld: </div>
    <div class="eight wide column" id="right"> 
        <a routerLink="/planets/info/{{getRouterLink(species.homeworld)}}">
        {{getResourceFromURL(species.homeworld)}}
        </a> </div>
    <div class="eight wide column" id="left"> Language: </div>
    <div class="eight wide column" id="right"> {{ species.language }} </div>
    <div class="eight wide column" id="left"> People: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let person of species.people">
            <li value="">
                <a routerLink="/people/info/{{getRouterLink(person)}}">
                {{getResourceFromURL(person)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Films: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let film of species.films">
            <li value="">
                <a routerLink="/films/info/{{getRouterLink(film)}}">
                {{getResourceFromURL(film)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ species.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ species.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ species.url }} </div>
</div>