.background {
    height: 1080px;
    background-image: url("/assets/background.jpg");
}

.segment {
    background-color: black;
    color: white;
    font-size: large;
    margin-left: 30%;
    margin-right: 30%;
}

.welcome {
    margin: auto;
    text-align: center;
}

.sw {
    font-size: x-large;
}