<app-navigation-bar></app-navigation-bar>
<div class="background">
    <div class="ui segment">
        <div class="welcome">
            <p>Welcome to the <span class="sw">Star Wars Fan App</span>, {{ user?.name }}!</p>
        </div>  
    </div>

    <div class="ui segment">
        <app-search></app-search>
    </div>
</div>