<app-navigation-bar></app-navigation-bar>

<div class="ui container">
    <div class="ui divided items" >
        <app-film-item class="ui item" *ngFor="let film of films | async" [film]="film"></app-film-item>
    </div>
</div>
