<div class="ui grid">
    <div class="eight wide column" id="name">{{ starship.name }}</div>
    <div id="details">
        <a routerLink="/starships/info/{{getStarshipId(starship)}}" (click)="getStarshipInfo(starship)"> See details </a>
    </div>
</div>