<div class="ui grid">
    <div class="eight wide column" id="name">{{ vehicle.name }}</div>
    <div id="details">
        <a routerLink="/vehicles/info/{{getVehicleId(vehicle)}}" (click)="getVehicleInfo(vehicle)"> See details </a>
    </div>
</div>