<app-navigation-bar></app-navigation-bar>

<div *ngIf="pagination | async as pag; else loading">
    <div class="ui container">
        <div class="ui divided items" >
            <app-planet-item class="ui item" *ngFor="let planet of pag.results" [planet]="planet"></app-planet-item>
        </div>

        <app-planets-pagination [pagination]="pag"></app-planets-pagination>
    </div>
</div>

<ng-template #loading> Loading planets... </ng-template>
