<app-navigation-bar></app-navigation-bar>

<div *ngIf="pagination | async as pag; else loading">
    <div class="ui container">
        <div class="ui divided items" >
            <app-starship-item class="ui item" *ngFor="let starship of pag.results" [starship]="starship"></app-starship-item>
        </div>

        <app-starships-pagination [pagination]="pag"></app-starships-pagination>
    </div>
</div>

<ng-template #loading> Loading starships... </ng-template>