.grid {
    padding-top: 10px;
}

#left {
    text-align: right;
    font-size: large;
    font-style: italic;
    border-right: 1px solid black;

    background:
    linear-gradient(to left, red 2px, transparent 2px) 100% 0%,
    linear-gradient(to left, red 2px, transparent 2px) 100% 100%,
    linear-gradient(to top, red 2px, transparent 2px) 100% 100%,
    linear-gradient(to top, red 2px, transparent 2px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 50px 10px;
}

#right {
    text-align: left;
    font-size: large;
    border-left: 1px solid black;

    background:
    linear-gradient(to right, blue 2px, transparent 2px) 0% 0%,
    linear-gradient(to right, blue 2px, transparent 2px) 0% 100%,
    linear-gradient(to top, blue 2px, transparent 2px) 0 100%,
    linear-gradient(to top, blue 2px, transparent 2px) 0% 100%;

    background-repeat: no-repeat;
    background-size: 50px 10px;

}