<app-navigation-bar></app-navigation-bar>

<div class="ui grid">
    <div class="eight wide column" id="left"> Name: </div>
    <div class="eight wide column" id="right"> {{ vehicle.name }} </div>
    <div class="eight wide column" id="left"> Model: </div>
    <div class="eight wide column" id="right"> {{ vehicle.model }} </div>
    <div class="eight wide column" id="left"> Manufacturer: </div>
    <div class="eight wide column" id="right"> {{ vehicle.manufacturer }} </div>
    <div class="eight wide column" id="left"> Cost in credits: </div>
    <div class="eight wide column" id="right"> {{ vehicle.cost_in_credits }} </div>
    <div class="eight wide column" id="left"> Length: </div>
    <div class="eight wide column" id="right"> {{ vehicle.length }} </div>
    <div class="eight wide column" id="left"> Maximum atmosphering speed: </div>
    <div class="eight wide column" id="right"> {{ vehicle.max_atmosphering_speed }} </div>
    <div class="eight wide column" id="left"> Crew: </div>
    <div class="eight wide column" id="right"> {{ vehicle.crew }} </div>
    <div class="eight wide column" id="left"> Passengers: </div>
    <div class="eight wide column" id="right"> {{ vehicle.passengers }} </div>
    <div class="eight wide column" id="left"> Cargo capacity: </div>
    <div class="eight wide column" id="right"> {{ vehicle.cargo_capacity }} </div>
    <div class="eight wide column" id="left"> Consumables: </div>
    <div class="eight wide column" id="right"> {{ vehicle.consumables }} </div>
    <div class="eight wide column" id="left"> Vehicle class: </div>
    <div class="eight wide column" id="right"> {{ vehicle.vehicle_class }} </div>
    <div class="eight wide column" id="left"> Pilots: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let pilot of vehicle.pilots">
            <li value="">
                <a routerLink="/people/info/{{getRouterLink(pilot)}}">
                {{getResourceFromURL(pilot)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Films: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let film of vehicle.films">
            <li value="">
                <a routerLink="/films/info/{{getRouterLink(film)}}">
                {{getResourceFromURL(film)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ vehicle.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ vehicle.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ vehicle.url }} </div>
</div>