<div class="window">
    <form class="ui form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="required field">
        <label>Name</label>
        <input type="text" name="name" formControlName="name" />
    </div>

    <div class="required field">
        <label>Username</label>
        <input type="text" name="username" formControlName="username" />
    </div>

    <div class="required field">
        <label>Password</label>
        <input type="password" name="password" formControlName="password" />
    </div>

    <button class="ui blue fluid button" type="submit">Register</button>
    </form>

    <div class="ui negative message" *ngIf="errorMessage != ''" >
        {{ errorMessage }}
      </div>

    <a routerLink="/login">Already have an account? Click here to login.</a>
</div>