<app-navigation-bar></app-navigation-bar>

<div class="background">
<div class="ui grid">
    <div class="eight wide column" id="left"> Title: </div>
    <div class="eight wide column" id="right"> {{ film.title }} </div>
    <div class="eight wide column" id="left"> Episode ID: </div>
    <div class="eight wide column" id="right"> {{ film.episode_id }} </div>
    <div class="sixteen wide column" id="opening-crawl"> Opening crawl: </div>
    <div class="sixteen wide column" id="opening-crawl-text"> {{ film.opening_crawl }} </div>
    <div class="eight wide column" id="left"> Director: </div>
    <div class="eight wide column" id="right"> {{ film.director }} </div>
    <div class="eight wide column" id="left"> Producer: </div>
    <div class="eight wide column" id="right"> {{ film.producer }} </div>
    <div class="eight wide column" id="left"> Release date: </div>
    <div class="eight wide column" id="right"> {{ film.release_date }} </div>
    <div class="eight wide column" id="left"> Characters: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let character of film.characters">
            <li value="">
                <a routerLink="/people/info/{{getRouterLink(character)}}">
                {{getResourceFromURL(character)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Planets: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let planet of film.planets">
            <li value="">
                <a routerLink="/planets/info/{{getRouterLink(planet)}}">
                {{getResourceFromURL(planet)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Starships: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let starship of film.starships">
            <li value="">
                <a routerLink="/starships/info/{{getRouterLink(starship)}}">
                {{getResourceFromURL(starship)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Vehicles: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let vehicle of film.vehicles">
            <li value="">
                <a routerLink="/vehicles/info/{{getRouterLink(vehicle)}}">
                {{getResourceFromURL(vehicle)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Species: </div>
    <div class="eight wide column" id="right">
        <ol class="ui list" *ngFor="let species of film.species">
            <li value="">
                <a routerLink="/species/info/{{getRouterLink(species)}}">
                {{getResourceFromURL(species)}}
                </a>
            </li>
        </ol>
    </div>
    <div class="eight wide column" id="left"> Created: </div>
    <div class="eight wide column" id="right"> {{ film.created }} </div>
    <div class="eight wide column" id="left"> Edited: </div>
    <div class="eight wide column" id="right"> {{ film.edited }} </div>
    <div class="eight wide column" id="left"> URL: </div>
    <div class="eight wide column" id="right"> {{ film.url }} </div>
</div>
</div>