.grid {
    padding-top: 10px;
}

#name {
    min-width: 700px;
}

#details {
    text-align: right;
    font-size: large;
    padding-top: 10px;
}

a {
    font-size: x-large;
    font-style: italic;
}