<div class="ui grid">
    <div class="eight wide column" id="name">{{ planet.name }}</div>
    <div id="details">
        <a routerLink="/planets/info/{{getPlanetId(planet)}}" (click)="getPlanetInfo(planet)"> See details </a>
    </div>
</div>