<div class="ui grid">
    <div class="eight wide column" id="name">{{ film.title }}</div>
    <div id="details">
        <a routerLink="/films/info/{{getFilmId(film.url)}}" (click)="getFilmInfo(film)"> See details </a>
    </div>
</div>