<div class="window">
    <form class="ui form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" name="username" formControlName="username" placeholder="Username">
          <i class="user icon"></i>
        </div>
    </div>

    <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" name="password" formControlName="password">
          <i class="lock icon"></i>
        </div>
      </div>

    <button class="ui blue submit fluid button" type="submit">Login</button>
    </form>

    <div class="ui negative message" *ngIf="errorMessage != ''" >
      {{ errorMessage }}
    </div>

    <a routerLink="/register">Don't have an account? Click here to register.</a>
</div>

